<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-list>
        <h1 mat-subheader style="margin-left: 10%;">Dashboard</h1>
        <br />
        <mat-list-item
          ><a routerLink="product"
            ><fa-icon [icon]="faProduct" class="icon"></fa-icon>Product</a
          ></mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          ><a routerLink="cart"
            ><fa-icon [icon]="faCart" class="icon"></fa-icon>Cart</a
          ></mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          ><a routerLink="order"
            ><fa-icon [icon]="faOrder" class="icon"></fa-icon>Order</a
          ></mat-list-item
        >
        <mat-divider></mat-divider>
        <mat-list-item
          ><a routerLink="add"
            ><fa-icon [icon]="faOrder" class="icon"></fa-icon>add</a
          ></mat-list-item
        >
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  