.icon {
    margin-right: 10%;
    color: rgba(241, 10, 10, 0.925);
    font-size: x-large;
  }
  
  a {
    text-decoration: none !important;
    color: black
  }
  
  mat-list-item {
    padding: 20%;
  }
  

  mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    padding: 16px;
    margin-left: 1%;
    width: 15%;
    background-color: rgb(27, 198, 232);
  }
